<html>
<head>
</head>
<body>
    <body bgcolor="#EAEAEA">
    <table width="98%" border="0">
        <tbody>
            <tr>
                <td>
                 <!--    <div align='left'> accountID: 
                        <font color="red"><B> {{ accountID }} </B> </font> -->
                        &nbsp;&nbsp;
                        <font color="red"><B> server:[{{ server }}]&nbsp;IP:[{{ host }}]&nbsp;端口:[{{ port }}]&nbsp;appKey:[{{ appkey }}]&nbsp;accountID:[{{ accountID }}]&nbsp;mobile:[{{ username }}]</B> </font>
                    <!-- </div> -->
                </td>

                <!-- <td><div align="center"><font color="red"><B> 运营业务 </B></font> </div></td> -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-footer"></div>
                </div>
                </div>
            </tr>
        </tbody>
    </table>
</body>
</body>
</html>
